* {
  margin: 0;
  padding: 0;
  //   width: 100%;
  // height: 100%;
  //*는 전체를 의미하는거니까 굳이 가로 세로 주지않아도 괜찮..
}
.about-container {
  display: flex;
  width: 100%;
  height: 80vh;
  background: url(../../public/images/blueback4about.webp) no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.about-leftBox {
  // margin-left: 2em;
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-photo {
  width: 62%;
  height: 55%;
  background: url(../../public/images/눈사람사진.jpg) no-repeat;
  background-size: cover;
  margin-top: 2em;
  padding: 1em;
}
.about-name {
  width: 62%;
  margin-top: 2.2em;
  font-family: "NanumSquareNeo-Variable";
  font-size: 1.1em;
  background-color: #ffffffdb;
  border-radius: 7px;
  box-shadow: #6fc9f653 3px 3px 3.5px;
  padding: 1em;
}
.about-rightBox {
  width: 50%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-carrer,
.about-introduce,
.about-skill {
  background-color: #ffffff;
  border-radius: 7px;
  width: 75%;
  box-shadow: #6fc9f653 3px 3px 3.5px;
  padding: 1em;
}
.about-introduce,
.about-skill {
  margin-top: 1em;
}
.about-semiTitle {
  font-family: "bitbit";
  font-size: 1.1em;
}
.about-detailtxt {
  font-family: "NanumSquareNeo-Variable";
}
.about-left-detailtxt {
  font-size: 0.9em;
}
@media (max-width: 525px) {
  .about-introduce {
    display: none;
  }
  .about-leftBox {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-photo {
      width: 80%;
      height: 30%;
      margin-top: 6em;
    }
  }
  .about-name {
    margin-top: 1em;
    font-size: 1em;
    background-color: #ffffffdb;
    width: 70%;
  }
  .about-carrer,
  .about-skill {
    width: 90%;
  }
  .about-skill {
    margin-top: 0.7em;
  }
  .about-semiTitle {
    font-size: 1.2em;
  }
  .about-detailtxt,
  .about-left-detailtxt {
    font-size: 0.8em;
  }
}
@media (max-width: 768px) {
  .about-leftBox {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-photo {
    width: 60%;
    height: 40%;
    margin-top: 2.5em;
  }
  .about-name {
    margin-top: 1em;
    font-size: 1em;
    background-color: #ffffffdb;
    width: 70%;
  }
  .about-carrer,
  .about-introduce,
  .about-skill {
    width: 90%;
    padding: 0.8em;
  }
  .about-introduce,
  .about-skill {
    margin-top: 0.7em;
  }
  .about-semiTitle {
    font-size: 1em;
  }
  .about-detailtxt,
  .about-left-detailtxt {
    font-size: 0.8em;
  }
}
@media (max-width: 1024px) {
  .about-carrer,
  .about-introduce,
  .about-skill {
    width: 90%;
  }
  .about-introduce,
  .about-skill {
    margin-top: 0.5em;
  }
  .about-carrer,
  .about-introduce,
  .about-skill {
    padding: 0.8em;
  }
}
