html {
  width: 100%;
  height: 100%;
}
.project-container {
  width: 100vw;
  height: 80vh;
  background: url(../../public/images/skillsback1.jpg) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  .project-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 80vw;
    height: 60vh;
  }
}
.project-left-box,
.project-mid-box,
.project-right-box {
  width: 22vw;
  height: 48vh;
  border: 1px solid white;
  margin: 0 auto;
  display: flex;
  border-radius: 7px;

  z-index: 1;
}
.project-over {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
  z-index: 99;
  width: 22vw;
  height: 48vh;

  background-color: red;

}
.project-left-box {
  background: url("../../public/images/포폴캡쳐2.JPG") no-repeat center;
  background-size: cover;
}
.project-left-box:hover,
.project-mid-box:hover,
.project-right-box:hover {
  box-shadow: #5bc6fb87 4px 4px 5px;
  cursor: pointer;
}
.project-right-box {
  background: url("../../public/images/potcap1.jpg") no-repeat center;
  background-size: cover;
}
.project-mid-box {
  background: url("../../public/images/투두\ 캡쳐.JPG") no-repeat center;
  background-size: cover;
}
.project-over:hover {
  opacity: 1;
}
.project-all-right,
.project-all-middle,
.project-all-left {
  display: flex;
  position: relative;
  flex-direction: column;
}
.project-textBox {
  margin: 0 auto;
  margin-top: 1em;
  font-family: var(--font-UbuntuRegular);
  font-weight: 700;
  color: #0178b3f0;
  text-shadow: 2px 2px #b8e1f6b7;
  padding: 1px;
  font-size: 1.2em;
}
@media (max-width: 425px) {
  .project-box {
    flex-direction: column;
  }
  .project-all-right,
  .project-all-middle,
  .project-all-left {
    width: 100%;
    height: 100%;
  }
  .project-left-box,
  .project-mid-box,
  .project-right-box {
    width: 40vw;
    height: 20vh;
  }
  .project-textBox {
    font-size: 0.7em;
  }
}
@media (max-width: 768px) {
  .project-box {
    flex-direction: column;
  }
  .project-all-right,
  .project-all-middle,
  .project-all-left {
    width: 100%;
    height: 100%;
  }
  .project-left-box,
  .project-mid-box,
  .project-right-box {
    width: 40vw;
    height: 20vh;
  }
  .project-textBox {
    font-size: 0.7em;
  }
}
