html {
  width: 100%;
  height: 100%;
}
.skills-container {
  width: 100%;
  height: 80vh;
  background: url(../../public/images/blueback1.jpg) no-repeat;
  background-size: cover;
}
.skills-small-container {
  width: 75%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.skills-leftContainer,
.skills-rightContainer {
  width: 35%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.skills-left-box,
.skills-right-box {
  width: 100%;
  height: 20%;
  margin-bottom: 0.8em;
  font-family: "NanumSquareNeo-Variable";
  font-size: 0.9em;
  background-color: #ffffffdb;
  border-radius: 7px;
  box-shadow: #6fc9f653 3px 3px 3.5px;
  padding: 0.85em;
  overflow: auto;
  line-height: 110%;
}
.skills-left-box::-webkit-scrollbar, 
.skills-right-box::-webkit-scrollbar{
  width: 8px;
  background-color: var(--color-main-skyblue);
  border-radius: 7px;
}
.skills-left-box::-webkit-scrollbar-thumb, 
.skills-right-box::-webkit-scrollbar-thumb{
  width: 8px;
  background-color: #59cbff;
  border-radius: 7px;
}
ul{
  list-style: none;
}
@media (max-width: 425px) {
  .skills-small-container {
    width: 95%;
  }
  .skills-leftContainer,
  .skills-rightContainer {
    width: 40%;
    height: 90%;
  }
  .skills-left-box,
  .skills-right-box {
    font-size: 0.4em;
    padding: 0.25em;
  }
  .skills-left-box,.skills-right-box {
    height: 23%;
  }
}
@media (max-width: 768px) {
  .skills-small-container {
    width: 95%;
  }
  .skills-leftContainer,
  .skills-rightContainer {
    width: 45%;
    height: 90%;
  }
  .skills-left-box,
  .skills-right-box {
    font-size: 0.7em;
    padding: 0.5em;
  }
  .skills-left-box,.skills-right-box {
    height: 23%;
  }
}
@media (max-width: 1024px) {
  .skills-small-container {
    width: 95%;
  }
  .skills-leftContainer,
  .skills-rightContainer {
    width: 45%;
    height: 90%;
  }
  .skills-left-box,
  .skills-right-box {
    font-size: 0.75em;
    padding: 0.7em;
  }
  .skills-left-box,.skills-right-box {
    height: 20%;
  }
}
